body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(6rem, auto) repeat(5, 3rem);
  gap: 1px;
  background-color: dimgrey;
  width: calc(24rem + 5px);
  margin: 0 auto;
  border: 2px solid black;
}

.output {
  grid-column: 1 / span 4;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.last-output {
  font-size: 3rem;
}

.current-output {
  font-size: 3rem;
}

.span-ac {
  grid-column: 1 / span 2;
}

.span-eq {
  grid-column: 3 / span 2;
}

.calculator > button {
  background-color: white;
}

.calculator > button:hover {
  background-color: darkgrey;
}